<div class="welcome-section">
  <div class="welcome-image-container">
    <img src="https://images.unsplash.com/photo-1666214277657-e60f05c40b04?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070" alt="Heart Illustration" class="welcome-image">
     <div class="welcome-text-overlay">
      <h1>Welcome Back,<span style="color:black;"> Doctor!</span> </h1>
      <p>Manage your schedules and
        <br> provide excellent care to your patients.</p>
    </div>
    <div class="welcome-overlay"></div>

  </div>
</div>



<div class="cards-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 sm-6 mb-4">
        <div class="card doctor-card h-100">
          <div class="card-body text-center">

            <h5 class="card-title">Laboratory Works</h5>
            <p class="card-text">15 Laboratory Works with 5 pending</p>
            <button class="btn btn-doctor-gradient">View Details</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card doctor-card h-100">
          <div class="card-body text-center">

            <h5 class="card-title">Upcoming Meeting</h5>
            <p class="card-text">Upcoming meeting with Dr.Veer Awasthi</p>
            <button class="btn btn-doctor-gradient">View Details</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card doctor-card h-100">
          <div class="card-body text-center">
            <h5 class="card-title">Online Consultations</h5>
            <p class="card-text">29 upcoming online consultations</p>
            <button class="btn btn-doctor-gradient">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
